:root {
    --pd-header-color: var(--jp-layout-color0);
    --pd-border-color: var(--jp-border-color1);
    --pd-border-width: 1px;
    --pd-td-max-width: 1ch;
    --pd-footer-padding: 12px;
}

.pd-ipypandas {
    padding: 0;
    overflow: hidden;
}

.pd-ipypandas .pd-view {
    height: 0;
    overflow: auto;
    resize: vertical;
}

.pd-ipypandas .pd-view .pd-table {
    margin: 0;
    padding: 0;
}

.pd-ipypandas .pd-view .pd-table.pd-empty {
    display: none;
}

.pd-ipypandas .pd-view .pd-table.pd-truncated tbody td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: var(--pd-td-max-width);
}

.pd-ipypandas .pd-view .pd-table thead {
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: var(--pd-header-color);
    box-shadow: 0 var(--pd-border-width) var(--pd-border-color);
}

.pd-ipypandas .pd-view .pd-table tbody th {
    left: 0;
    z-index: 1;
    position: sticky;
    background-color: var(--pd-header-color);
    box-shadow: var(--pd-border-width) 0 var(--pd-border-color);
}

.pd-ipypandas .pd-view .pd-table thead th.pd-col-head:hover {
    cursor: pointer;
}

.pd-ipypandas .pd-view .pd-table thead th.pd-col-head.pd-sort-desc {
    background-color: red;
}

.pd-ipypandas .pd-view .pd-table thead th.pd-col-head.pd-sort-asc {
    background-color: green;
}

.pd-ipypandas .pd-view .pd-table tbody th.pd-row-head:hover {
    cursor: pointer;
}

.pd-ipypandas .pd-view .pd-table tbody th.pd-row-head.pd-state-selected {
    background-color: blue;
}

.pd-ipypandas .pd-footer {
    padding-top: var(--pd-footer-padding);
}