:root {
    --pd-root-opacity: 0;
    --pd-root-cursor: auto;
    --pd-root-min-height: 0px;

    --pd-view-resize: none;
    --pd-view-height: 0px;
    --pd-view-min-height: 0px;
    --pd-view-max-height: 0px;

    --pd-font-color: var(--jp-ui-font-color1);
    --pd-font-family: var(--jp-content-font-family);

    --pd-header-color: rgba(0, 0, 0, 0);
    --pd-border-color: var(--jp-border-color1);
    --pd-border-width: 1px;

    --pd-body-padding-top: 0px;
    --pd-body-padding-bottom: 0px;
    --pd-body-td-max-width: 1ch;

    --pd-body-th-dragover-color: var(--jp-rendermime-table-row-hover-background);
    --pd-body-tr-select-color: var(--jp-rendermime-table-row-hover-background);

    --pd-footer-padding-top: 12px;
    --pd-footer-padding-bottom: 7px;
    --pd-footer-max-width: 0px;

    --pd-filter-opacity: 0;
}

.pd-ipypandas {
    background-color: transparent !important;

    .pd-root {
        margin: 0;
        padding: 0;
        overflow: hidden;
        min-height: var(--pd-root-min-height);
        opacity: var(--pd-root-opacity);
        cursor: var(--pd-root-cursor);

        .pd-view {
            height: 0;
            overflow: auto;
            resize: var(--pd-view-resize);
            height: var(--pd-view-height);
            min-height: var(--pd-view-min-height);
            max-height: var(--pd-view-max-height);

            .pd-table {
                margin: 0;
                padding: 0;

                thead {
                    top: 0;
                    z-index: 2;
                    position: sticky;
                    background-color: var(--pd-header-color);
                    box-shadow: 0 var(--pd-border-width) var(--pd-border-color);

                    th.pd-col-head:not([colspan]) {
                        white-space: nowrap;

                        .pd-col-text {
                            white-space: nowrap;
                            margin: 0px 2px;

                            &[draggable='true'] {
                                cursor: grab;
                            }
                        }

                        .pd-col-i-rescale {
                            overflow: hidden;
                            transition: opacity 0.5s;
                            opacity: 0;

                            &::after {
                                content: '‖';
                                z-index: 3;
                                width: 16px;
                                height: 16px;
                                text-align: center;
                                position: absolute;
                                pointer-events: none;
                                display: inline-block;
                                color: var(--pd-font-color);
                                background-color: var(--pd-header-color);
                                transform: translate(-18px, 0px);
                            }

                            span {
                                resize: horizontal;
                                overflow: hidden;
                                display: inline-block;
                                margin: 0px 2px;
                                height: 8px;

                                &::before {
                                    content: '';
                                    width: 18px;
                                    display: inline-block;
                                }
                            }
                        }

                        .pd-col-i-sort {
                            transition: opacity 0.5s;
                            opacity: 0;

                            span::before {
                                content: '';
                                display: inline-block;
                                border: solid var(--pd-font-color);
                                transform: rotate(0deg);
                                border-width: 0px 0px 2px 0px;
                                margin: 0px 4px 3px 0px;
                                padding: 2px 3px;
                            }
                        }

                        .pd-col-i-filter {
                            transition: opacity 0.5s;
                            opacity: 0;

                            span::before {
                                content: '⋮';
                                color: var(--pd-font-color);
                                display: inline-block;
                                font-size: 14px;
                                width: 6px;
                            }
                        }

                        &.pd-sort-desc {
                            .pd-col-i-sort {
                                transition: none;
                                opacity: 1;

                                span::before {
                                    transform: rotate(45deg);
                                    border-width: 0px 2px 2px 0px;
                                    margin-bottom: 3px;
                                    padding: 2px;
                                }
                            }
                        }

                        &.pd-sort-asc {
                            .pd-col-i-sort {
                                transition: none;
                                opacity: 1;

                                span::before {
                                    transform: rotate(45deg);
                                    border-width: 2px 0px 0px 2px;
                                    margin-bottom: 0px;
                                    padding: 2px;
                                }
                            }
                        }

                        &.pd-filter-active {
                            .pd-col-i-filter {
                                transition: none;
                                opacity: 1;
                            }
                        }

                        &.pd-dragover {
                            background-color: var(--pd-body-th-dragover-color);

                            .pd-col-i-rescale {
                                &::after {
                                    background-color: transparent;
                                }

                                span {
                                    opacity: 0;
                                }
                            }
                        }

                        &:hover {
                            cursor: pointer;

                            .pd-col-i-rescale {
                                opacity: 1;
                                cursor: col-resize;
                            }

                            .pd-col-i-sort {
                                opacity: 1;
                                cursor: pointer;
                            }

                            .pd-col-i-filter {
                                opacity: 1;
                                cursor: context-menu;
                            }
                        }
                    }

                    th.pd-index {
                        left: 0;
                        z-index: 2;
                        position: sticky;
                        background-color: var(--pd-header-color);
                    }
                }

                tbody {
                    &::before {
                        content: '';
                        display: table-row;
                        height: var(--pd-body-padding-top);
                    }

                    &::after {
                        content: '';
                        display: table-row;
                        height: var(--pd-body-padding-bottom);
                    }

                    th.pd-row-head {
                        left: 0;
                        z-index: 1;
                        position: sticky;
                        white-space: nowrap;
                        background-color: var(--pd-header-color);
                        box-shadow: var(--pd-border-width) 0 var(--pd-border-color);

                        .pd-row-text {
                            white-space: nowrap;
                        }

                        &:not([rowspan]) {
                            &.pd-select-active {
                                background-color: var(--pd-body-tr-select-color);

                                & ~ td.pd-data {
                                    background-color: var(--pd-body-tr-select-color);
                                }
                            }

                            &:hover {
                                cursor: pointer;
                                background-color: var(--pd-body-tr-select-color);
                            }
                        }
                    }

                    tr:hover {
                        th {
                            &[rowspan] {
                                background-color: var(--pd-header-color);
                            }

                            &:not([rowspan]) {
                                background-color: var(--pd-body-tr-select-color);
                            }
                        }
                    }
                }

                &.pd-empty {
                    display: none;
                }

                &.pd-truncated {
                    tbody {
                        td {
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            max-width: var(--pd-body-td-max-width);
                        }
                    }
                }
            }
        }

        .pd-footer {
            display: flex;
            flex-direction: row;
            padding-top: var(--pd-footer-padding-top);
            padding-bottom: var(--pd-footer-padding-bottom);
            max-width: var(--pd-footer-max-width);
            margin: 0;

            .pd-shape {
                flex: 0 0 auto;

                p {
                    white-space: nowrap;
                    margin: 0;
                }
            }

            .pd-search {
                flex: 1 0 auto;

                input {
                    float: right;
                    font-size: 12px;
                    font-family: var(--pd-font-family);
                    border: var(--pd-border-width) solid var(--pd-border-color);
                    color: var(--pd-font-color);
                    background: transparent;
                    box-shadow: none;
                    width: 180px;
                    margin-left: 10px;
                    padding: 3px 3px 2px 3px;
                    transition: opacity 0.5s;
                    opacity: 0;

                    &:focus {
                        outline: 0;
                    }
                }

                &:hover,
                &.pd-search-active {
                    input {
                        opacity: 1;
                    }
                }
            }
        }

        .pd-filter {
            z-index: 3;
            position: absolute;
            background: var(--pd-header-color);
            border: var(--pd-border-width) solid var(--pd-border-color);
            padding: 3px 6px 3px 6px;
            margin: 0;
            opacity: var(--pd-filter-opacity);
            transition: opacity 0.5s;
        }

        &.pd-touch {
            .pd-view {
                .pd-table {
                    thead {
                        th.pd-col-head {
                            .pd-col-i-rescale {
                                opacity: 1;
                            }

                            .pd-col-i-sort {
                                opacity: 1;
                            }

                            .pd-col-i-filter {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .pd-footer {
                .pd-search {
                    input {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
